<h1>Hello, Rails!</h1>
<%= link_to 'New Article', new_article_path %>
<ul>
  <% @article.each do |article| %>
    <li>
       <%= link_to article.title, article_path(article) %><br />
    </li>
  <% end %>
</ul>


#HÄR KAN DU SKRIVA PÅ SIDAN SOM SYNS I LOCALHOST3000
#ÄVEN DENNA TEXT SOM ÄR BORTKOMMENTERAD SYNS