<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.content %>
</p>

=begin
    
rescue => exception
    
end
<p><%= @article.title %></p>
<p><%= @article.content %></p>
=begin
    
rescue => exception
    
end